- @about_us.each do |about_us|
  
  = about_us.content
  = about_us.image
  = link_to 'Edit', edit_about_u_path(about_us)
  = link_to 'Destroy', about_us, :method => :delete, :data => { :confirm => 'Are you sure?' }
  
