%ul.menu1
  %li
    %a{:href => "/passenger_vehicles/description"} Introduction
  %li
    %a{:href => "/passenger_vehicles/features"} Features
  %li
    %a{:href => "#3"} Technical Specifications
  %li
    %a{:href => "#4"} Colour Variants
  %li.lastItem
    %a{:href => "#5"} Photo Gallery
