%nav
  %ul
    %li
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} Tutorials
      %ul
        %li
          %a{:href => "#"} Photoshop
        %li
          %a{:href => "#"} Illustrator
        %li
          %a{:href => "#"} Web Design
          %ul
            %li
              %a{:href => "#"} HTML
            %li
              %a{:href => "#"} CSS
    %li
      %a{:href => "#"} Articles
      %ul
        %li
          %a{:href => "#"} Web Design
        %li
          %a{:href => "#"} User Experience
    %li
      %a{:href => "#"} Inspiration
    %li
      %a{:href => "#"} Articles
      %ul
        %li
          %a{:href => "#"} Web Design
        %li
          %a{:href => "#"} User Experience
