<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="jimgMenu.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/assets/jquery.js"></script><script type="text/javascript" src="/assets/jquery-easing-1.3.pack.js"></script><script type="text/javascript" src="/assets/jquery-easing-compatibility.1.2.pack.js"></script>
</head>
<body>
<div class="jimgMenu">
  <ul>
    <li class="landscapes"><a href="#nogo">Landscapes</a></li>
    <li class="people"><a href="#nogo">People</a></li>
    <li class="nature"><a href="#nogo">Nature</a></li>
    <li class="abstract"><a href="#nogo">Abstract</a></li>
    <li class="urban"><a href="#nogo">Urban</a></li>
  </ul>
</div>
<br  style="clear:both"/><br />
</body>
</html>
