.body
{
    padding-top: 8.1%;
    padding-left: 2%;
    
}
.navbar-default{

    background-color: #006EB8;
}
#logoLink

{
    margin-left: 20%;
}


.jimgMenu {
	position: relative;
	width: 670px;
	height: 200px;
	overflow: hidden;
	margin: 25px 0px 0px;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1340px;
	
	}

.jimgMenu ul li {
	float: left;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:78px;
	height: 200px;
}

.jimgMenu ul li.landscapes a {
    background: url("/assets/1.jpg") repeat scroll 0%;
}

.jimgMenu ul li.people a {
    background: url("/assets/2.jpg") repeat scroll 0%;
}

.jimgMenu ul li.nature a {
    background: url("/assets/3.jpg") repeat scroll 0%;
}
.jimgMenu ul li.abstract a {
    background: url("/assets/4.jpg") repeat scroll 0%;
}

.jimgMenu ul li.urban a {
    background: url("/assets/5.jpg") repeat scroll 0%;
    min-width:310px;
}

.clear {
    clear: both;
}
