ul.menu1
{
    height: 100%;
    width: 100%;
    padding:0;
    list-style-type: none;
   
    /*width:500px;margin:0 auto;*//*Uncomment this line to make the menu center-aligned.*/
}

ul.menu1 li
{ 
   
    border:1px solid #65A2DC;
    border-right:none;
    list-style-type: none;
    padding:0;margin:0;
    float:left;
    display: block;
    color:White;
}
ul.menu1 li.lastItem
{ 
    border-right:1px solid #65A2DC;
}

ul.menu1 li a
{
  
    padding: 0 20px;
    background-image: url("/assets/bg.gif");
    border:1px solid #DDECF9;
    border-top:1px solid #FFFFFF;
    color:White;
    text-align: left;
    text-decoration:none;
    display: block;
    float: left;
    font: bold 20px Arial;
    line-height: 35px;
}

ul.menu1 li a:hover, ul.menu1 li a.current
{
    background-position:0 -40px;
}


/* =============================================================menu */

.container12
{
    min-height: 500px;
    max-height: auto;
    border: 1px solid #006EB8;
}
.body
{
    padding-top: 8.1%;
    padding-left: 2%;
    
}
.navbar-default{
    color: #fff;
    background-color: #006EB8;
}
.nav{
    font-family: verdana,arial,helvetica,sans-serif;
    font-size: 13px;


}

#logoLink

{
    margin-left: 20%;
}


.jimgMenu {
	position: relative;
	width: 670px;
	height: 200px;
	overflow: hidden;
	margin: 25px 0px 0px;
}

.jimgMenu ul {
	list-style: none;
	margin: 0px;
	display: block;
	height: 200px;
	width: 1340px;
	
	}

.jimgMenu ul li {
	float: left;
}

.jimgMenu ul li a {
	text-indent: -1000px;
	background:#FFFFFF none repeat scroll 0%;
	border-right: 2px solid #fff;
	cursor:pointer;
	display:block;
	overflow:hidden;
	width:78px;
	height: 200px;
}

.jimgMenu ul li.landscapes a {
    background: url("/assets/1.jpg") repeat scroll 0%;
}

.jimgMenu ul li.people a {
    background: url("/assets/2.jpg") repeat scroll 0%;
}

.jimgMenu ul li.nature a {
    background: url("/assets/3.jpg") repeat scroll 0%;
}
.jimgMenu ul li.abstract a {
    background: url("/assets/4.jpg") repeat scroll 0%;
}

.jimgMenu ul li.urban a {
    background: url("/assets/5.jpg") repeat scroll 0%;
    min-width:310px;
}

.clear {
    clear: both;
}
